body {
    font: normal 10pt arial;
    background-color: rgb(63, 60, 241);
}

header {
    text-align: center;
}

section {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 1rem;
    margin: auto; /* Centralizar objeto */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
    
}

#imagem {
    width: 350px;
}

footer {
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
}